// created with https://transfonter.org/
// 1. uncompresse .ttc
// 2. converted only latin subset of regular and extended to woff/woff2
// source: https://github.com/be5invis/Iosevka/releases/tag/v31.1.0 (2024-08-05)
@font-face {
    font-family: 'Iosevka';
    src: url('../fonts/Iosevka_Latin.woff2') format('woff2'),
        url('../fonts/Iosevka_Latin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka Condensed';
    src: url('../fonts/Iosevka_Latin.woff2') format('woff2'),
        url('../fonts/Iosevka_Latin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka Extended';
    src: url('../fonts/Iosevka-Extended_Latin.woff2') format('woff2'),
        url('../fonts/Iosevka-Extended_Latin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
