/* NovaMono Regular */
@font-face {
    font-family: 'novamonoregular';
    src: url('../fonts/novamono-regular-webfont.woff2') format('woff2'),
         url('../fonts/novamono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
