.sidebar-nav {
    font-family: $menu-font;
    a,
    li,
    ul {
        @include fluid-type(320px, 1200px, 14px, 16px);
        font-weight: $menu-font-weight;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        background-color: $menu-bg-color;
    }
    .metismenu {
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        li {
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            position: relative;
        }
        a {
            position: relative;
            display: block;
            padding: 15px 15px;
            color: $menu-font-color;
            outline-width: 0;
            transition: all 0.2s ease-out;
        }
        ul>li {
            padding-left: 2px;
            border-left: 4px solid var(--menu-bg-color-faded);
            background: rgba(185, 185, 185, 0.05);
        }
        ul ul {
            background: rgba(219, 219, 219, -0.05);
        }
        a:hover,a:focus,a:active {
            color: $hover-active-font-color;
            text-decoration: none;
            background: var(--menu-bg-color-active);
        }
        a[aria-expanded="true"] {
            background-color: var(--menu-bg-color-faded);
        }
        a[aria-expanded="true"]:hover,a[aria-expanded="true"]:focus, a[aria-expanded="true"]:active {
            color: $hover-active-font-color;
            text-decoration: none;
            background: var(--menu-bg-color-active);
        }
        .active-page {
            font-weight: $menu-font-weight-active;
            color: $hover-active-font-color;
            background: var(--menu-bg-color-active);
        }
    }
}

.sidebar-brand {
    display: flex;
    color: $hover-active-font-color;
    height: auto;
    padding: 15px 0;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    &:hover {
        color: darken($hover-active-font-color, 10%);
    }
}
