table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid $font-color;
    padding: 0.5rem;
}

table th {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $font-color;
    color: $default-bg-color;
}

table tr:nth-child(even) {
    background-color: #555;
}