table {
    border-collapse: collapse;
    width: 90%;
}

table td, table th {
    border: 1px solid var(--menu-bg-color-faded);
    padding: 0.5rem;
}

table th {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--menu-bg-color-faded);
}

table tr:nth-child(even) {
    background-color: #333;
}